<div class="panel panel-primary" ng-controller="testController" ng-repeat="dialog in vxmlApp.dialogs | filter: {id: selectedDialog}">
    <div class="panel-heading">
        <i class="fa fa-file-o fa-fw"></i> New Dialog
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="form-group input-group">
            <span class="input-group-addon">Name</span>
            <input type="text" class="form-control" value="{{dialog.dialogName}}" placeholder="Dialog Name">
        </div>
        <div class="form-group input-group">
            <span class="input-group-addon">Field</span>
            <input type="text" class="form-control" value="{{dialog.fieldName}}" placeholder="Field Name">
        </div>
        <label>Next Dialog</label>
        <select class="form-control">
            <option selected>None</option>
            <option>Dialog 2</option>
        </select><br/>
        <label>Log Events</label>
        <select class="form-control">
            <option>GetName</option>
            <option>Blah</option>
        </select><br/>
        <label>Grammars</label>
        <select class="form-control">
            <option selected>getZip.xml</option>
            <option>getZip_DTMF.xml</option>
        </select><br/>
        <div class="form-group input-group">
            <span class="input-group-addon">Initial Logic</span>
            <input type="text" class="form-control" placeholder="<if></if>">
        </div>
        <div class="form-group input-group">
            <span class="input-group-addon">Audio</span>
            <input type="text" class="form-control" placeholder="/Surveys/LiveAgentSurvey">
        </div>
        <button type="reset" class="btn btn-default">Reset</button>
        <button type="submit" class="btn btn-default">Save</button>

    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->